{% extends "base.html" %} {% load staticfiles %} {% block title %}New Order {% endblock %} {% block static_content %} {{block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'orders/css/order-form.css' %}" />
<script type="text/javascript" src="{% static 'yadlyad/js/lib/jquery-1.11.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'orders/js/yadlyadsite.js' %}"></script>
<script type="text/javascript" src="{% static 'orders/js/order-form.js' %}"></script>
{% endblock %}
{% block header %} 
{{block.super}}
<span class="user-id">User-id# {{user.id}}</span> {% endblock %} {% block content %} {% if formset %}
<form action="" method="post" class="order-form">
    {% csrf_token %} 
    {{ formset.management_form }}
    <div class="order-num">Order# {{ order_num }}</div>
    <div class="items-container">
        {% for category in categories %}
        <h1>{{category}}</h1>
        <div class="column-header">
            Quantity
        </div>
        {% for form in formset %}
             {% if form.instance.id != None and form.instance.product.category.cat_name == category.cat_name %}
                 {{form.id}}
            
        <div class="product-item-row">
            <span class="product-name">
					{{form.instance.product.prod_name}}
			</span>
            <span class="quantity" data-quantity-limit="{{form.instance.product.limit}}">
				{{form.quantity}}
			</span>
        </div>
       {% endif %}
        {% endfor %}
        {% endfor %}
    </div>
    <div class="button-group">
        <input id="order-submit" name="submit" type="submit" value="Update" />
        <input type="reset" value="Reset" />
    </div>
    <input type="hidden" name="order_id" value="{{ order_num }}" />
</form>
{% else %}
<div>No products available</div>
{% endif %} {% endblock %}
