{% extends "base.html" %} {% load staticfiles %} {% block title %}Order #{{order.id}} {% endblock %} {% block static_content %} {{block.super}}
<link rel="stylesheet" href="{% static 'orders/css/order-details.css' %}" media="all" type="text/css" /> {% endblock %} {% block content %}
<h1>Order # {{order.id}}</h1>
<div class="section">
    <a href="{% url 'orders:index' %}" class="return-to-list">Return to Order List</a>
</div>
<div class="section">

    <div class="column-header">Product</div>
    <div class="column-header">Quantity</div>

    {% for item in order.item_set.all %}
    <div class="section">
        <div class="item">{{item.product.prod_name}}</div>
        <div class="item">{{item.quantity}}</div>
    </div>
    {%endfor%}
</div>
{% endblock %}
