.order-form{}

body {
	padding-left: 20px;
	padding-top: 15px;
	color: #222222;
	
}

.user-id {
	display: block;
	text-align: right;
	float: right;
	position: relative;
	margin-right: 65px;
	margin-top: -10px;
}

.order-form .order-num {
	display: block;
	margin-top: 10px;
	font-size: 20px;
	color: #000000;
	
}

.order-form .product-item-row {
	position: relative;
    float: left;
	padding: 10px 20px;
	display: block;
	border: 1px solid #222;
    clear: both;
}

.order-form .items-container {
    margin-bottom: 10px;
    float: left;
    clear: both;
    width: 100%;
}

.order-form .items-container > .column-header {
	display: block;
	position: relative;
	font-size: 18px;
	margin-left: 320px;
	margin-bottom: 10px;
}

.order-form .product-item-row > div {
    display: block;
    float: left;
    position: relative;
}

.order-form .product-item-row .product-name {
	font-weight: bold;
	font-size: 16px;
	font-family: sans-serif;
	margin-right: 10px;
    width: 290px;
}

.order-form .product-item-row .quantity {
    width: 250px;
}

.order-form .product-item-row .quantity input,
.order-form .product-item-row .quantity select {
    padding: 5px 10px;
    width: 75px;
}

.order-form .highlighted-row {
	background-color: #DAF7E8;
}

h2{
	font-family: Veranda, sans-serif;
	font-size: 24px;
	padding-left: 10px;
	width: 300px;
	color: #B5B5B5;
	margin-bottom: 10px;
}

h2:after {
   margin-left: 5px;
   
}

.delivery-date, .date-created, .order-id {
	display: block;
	margin-left: 150px;
	font-size: 14pt;
	text-align: right;
	float: left;
	position: relative;
}

.order-form .order-row {
	float: left;
	position: relative;
}

.order-form .order-row:after {
	clear: both;
}

.order-form .button-group {
  margin-top: 20px;
}

.order-form .button-group input {
    margin-right: 5px;
    padding: 5px;
    color: #ccc;
    background-color: #777;
    border: 2px solid #333;
}

